/*-------------------------VARIABLES----------------------------*/
$bg-color: #e8e8e8;
$site-width: 960px;
$site-width-media-960: 720px;
$site-width-media-720: 100%;
$site-paddings: 10px;
/*-------------------------FONTS----------------------------*/
@font-face {
	font-family: Qlassik;
	src: 
		url('../fonts/Qlassik.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Qlassik.woff') format('woff'),
		url('../fonts/Qlassik.ttf') format('truetype'),
		url('../fonts/Qlassik#qlassik') format('svg');
}

/*-------------------------COMMON----------------------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/*-------------------------FIXED FOOTER----------------------------*/
.site {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.site-header-wrapper,
.site-footer {
	flex-shrink: 0;
}
.site-content-wrapper {
	flex: 1 0 auto;
}
/*-------------------------HEADER----------------------------*/
.site-header-wrapper {
	background-color: $bg-color;
}

.site-header {
	max-width: $site-width;
	padding: 41px 10px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.site-logo {
	display: block;
}

.site-menu {
	margin: 0;
	padding: 4px 0;
	border-radius: 8px;
	background: linear-gradient(to top, #e3e3e3, #fff);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.33);
	&__item {
		display: inline-block;
		list-style-type: none;
		font-family: Qlassik;
		font-size: 19px;
	}
	&__link {
		text-decoration: none;
		color: #515151;
		display: block;
		padding: 1px 18px;
		border-left: 1px solid #c1c1c1;
		&_no-border {
			border-left: none;
		}
		&:hover {
			background: linear-gradient(to bottom, #fbfbfb 0%,#dadada 50%,#e3e3e3 100%);
		}
	}
}

/*-------------------------SLIDER----------------------------*/
.slider-container {
	position: relative;
	padding: 0 10px;
}

.slider-wrapper {
	max-width: $site-width;
	margin: 0 auto;
	padding: 15px 15px 15px 15px;
	background-color: #fff;
	border-radius: 7px;
	border: 1px solid #cfcfcf;
}

.slider {
	width: 100%;
	margin-bottom: 0 !important;
}

.slider-controls {
	display: flex;

}

.slider-dots {
	flex-basis:50%;
	position: relative;
	height: 27px;
}

.slider-arrows {
	flex-basis:50%;
	position: relative;
	height: 27px;
}

.slider-shadow {
	display: block;
	position: absolute;
	width: $site-width;
	opacity: 0.4;
	// z-index: 0;
	bottom: -5px;
}

/*-------------------------CONTENT----------------------------*/
.site-content-wrapper {
	background-color: $bg-color;
}

.site-slogan {
	color: #747474;
	font-size: 28px;
	font-family: Qlassik;
	max-width: $site-width;
	margin: 0 auto;
	padding: 58px 10px 39px 10px;
}

/*-------------------------CARDS----------------------------*/
.cards-container {
	max-width: $site-width;
	padding: 0 10px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.card {
	margin-right: 20px;
	&:last-child {
		margin-right: 0;
	}
	&__image {
		display: block;
		margin: 0 auto;
		height: 64px;
		width: auto;
	}
	&__title {
		width: 100%;
		font-family: Qlassik;
		color: #3a3a3a;
		font-size: 22px;
		padding: 8px 0 10px 0;
		margin: 0;
		text-align: center;
	}
	&__text {
		font-size: 14px;
		font-family: "Trebuchet MS";
		color: #3a3a3a;
		text-align: center;
		margin: 0;
	}
	&__button {
		text-align: center;
		padding: 24px 0 7px 0;
	}
	&__link {
		font-family: 'Qlassik';
		font-size: 20px;
		background: linear-gradient(to top, #e3e3e3 0%,#ffffff 100%);
		box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.33);
		display: inline-block;
		color: #1d1d1d;
		text-decoration: none;
		padding: 7px 17px;
		border: none;
		border-radius: 8px;
		&:hover {
			background: linear-gradient(to bottom, #e3e3e3 0%,#ffffff 100%);
		}
	}
}


/*-------------------------ABOUT----------------------------*/
.about-container {
	max-width: $site-width;
	margin: 0 auto;
	padding: 80px 10px 150px 10px;
	display: flex;
	justify-content: space-between;
}

.about {
	flex-basis: 50%;
	&__icon {
		display: block;
		margin-right: 10px;
	}
	&__header {
		display: flex;
		align-items: center;
	}
	&__title {
		font-family: Qlassik;
		font-size: 25px;
		color: #000;
		margin: 0;
	}
	&__text {
		margin-top: 25px;
		margin-bottom: 0;
		font-family: "Trebuchet MS";
		color: #3a3a3a;
		font-size: 14px;
	}
	&_first {
		padding-right: 20px;
	}
}

.about-gallery {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 25px;
	&__item {
		padding: 9px;
		background-color: #fff;
		border: 1px solid #cfcfcf;
		border-radius: 6px;
		margin-bottom: 20px;
	}
	&__img {
		display: block;
	}
}
/*-------------------------FOOTER----------------------------*/
.site-footer {
	
}

.footer-top-container {
	box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.66) inset;
	background-image: url(../images/bg-2.jpg), url(../images/bg-1.jpg);
	background-repeat: no-repeat, repeat;
	background-position: top, top;
	border-bottom: 2px solid rgba(50,50,50,50);
}

.footer-top {
	max-width: $site-width;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 45px 10px;
}

.footer-card {
	flex-basis: 30%;
	padding-right: 1%;
	&:last-child {
		padding-right: 0;
	}
	&__header {
		display: flex;
		align-items: center;
		padding-bottom: 18px;
	}
	&__icon {
		display: block;
		margin-right: 10px;
	}
	&__title {
		font-family: Qlassik;
		font-size: 25px;
		color: #c9c9c9;
		margin: 0;
	}
	&__items {
		list-style-image: url(../images/check.png);
		margin: 0;
	}
	&__item {
		font-family: "Trebuchet MS";
		font-size: 14px;
		margin-bottom: 20px;
	}
	&__link-page {
		color: #aaaaaa;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.twitter-box {
	&__bubble {
		background-color: #202020;
		color: #aaaaaa;
		font-family: "Georgia";
		font-size: 14px;
		font-style: italic;
		padding: 15px 18px;
		border-radius: 7px;
		& a {
			color: #6d9120;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__text {
		margin: 0 0 10px 0;
	}
	&__highlight {
		color: #6d9120;
	}
	&__bird-container {
		height: 89px;
		width: 100%;
		position: relative;
	}
	&__triangle {
		position: absolute;
		right: 30px;
	}
	&__bird {
		display: block;
		position: absolute;
		right: 0;
		bottom: 0;
	}
}

.footer-bottom-container {
	background-color: #202020;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.66) inset;
}

.footer-bottom-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	max-width: $site-width;
	padding: 23px 10px;
}

.copyright {
	color: #aaa;
	font-size: 12px;
	font-family: "Verdana";
}

.social {
	margin: 0;
	padding-left: 0;
	&__link {
		display: inline-block;
	}
	&__item {
		margin-right: 10px;
		list-style-type: none;
		display: inline-block;
		&:last-child {
			margin-right: 0;
		}
	}
	&__img {
		display: inline-block;
	}
}
/*-------------------------MEDIA----------------------------*/
@media screen and (max-width: 960px) {
	.site-header,
	.slider-wrapper,
	.slider-shadow,
	.site-slogan,
	.cards-container,
	.about-container,
	.footer-top,
	.footer-bottom-wrapper {
		max-width: $site-width-media-960;
	}

	.about-container {
		padding-bottom: 80px;
	}
}

@media screen and (max-width: 720px) {
	.site-header,
	.slider-wrapper,
	.slider-shadow,
	.site-slogan,
	.cards-container,
	.about-container,
	.footer-top,
	.footer-bottom-wrapper {
		max-width: $site-width-media-720;
	}

	.site-header {
		flex-direction: column;
	}

	.site-menu {
		margin-top: 30px;
	}

	.slider-controls {
		display: none;
	}

	.cards-container {
		flex-wrap: wrap;
	}

	.card {
		margin-right: 0;
		flex-basis: 100%;
		margin-top: 40px;
		&:first-child {
			margin-top: 0;
		}
	}

	.about-container {
		flex-wrap:wrap;
	}

	.about {
		flex-basis: 100%;
		&_first {
			padding-bottom: 40px;
		}
	}

	.footer-top {
		flex-wrap: wrap;
	}

	.footer-card {
		flex-basis: 100%;
		padding-right: 0;
	}

	.footer-bottom-wrapper {
		flex-wrap: wrap;
	}

	.copyright, .social {
		flex-basis: 100%;
	}

	.copyright {
		margin-bottom: 20px;
	}

}

@media screen and (max-width: 450px) {
	.site-menu {

		&__item {
			display: block;
		}
		&__link {
			border: none;
			padding: 20px 40px;
		}
	}
}