/*-------------------------COMMON----------------------------*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*-------------------------DIVIDER----------------------------*/

/*-------------------------DIVIDER----------------------------*/

/*-------------------------DIVIDER----------------------------*/

/*-------------------------DIVIDER----------------------------*/

/*-------------------------DIVIDER----------------------------*/

/*-------------------------DIVIDER----------------------------*/

/*-------------------------DIVIDER----------------------------*/

/*-------------------------DIVIDER----------------------------*/

/*-------------------------DIVIDER----------------------------*/

/*-------------------------DIVIDER----------------------------*/

/*-------------------------DIVIDER----------------------------*/

/*-------------------------DIVIDER----------------------------*/

/*-------------------------DIVIDER----------------------------*/

/*-------------------------DIVIDER----------------------------*/

/*-------------------------DIVIDER----------------------------*/

/*-------------------------DIVIDER----------------------------*/

/*-------------------------DIVIDER----------------------------*/

/*-------------------------DIVIDER----------------------------*/

/*-------------------------DIVIDER----------------------------*/

/*-------------------------DIVIDER----------------------------*/

/*-------------------------DIVIDER----------------------------*/